.about {
    position: relative;
    background: url(../img/Imagen2.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: auto;
    width: 100%;
}

.about-main {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    max-width: 860px;
    padding: 5rem 0;
}

.about-main h3 {
    font-size: 3rem;
    text-decoration: underline;
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
}

.about-main h2 {
    font-size: 5rem;
    margin-top: 1rem;
}

.about-main p {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: #fff;
}


@media screen and (max-width: 599px){
    .about-main h2 {
        font-size: 2rem;
        margin: 1rem;
    }

    .about-main p {
        margin: 1rem;
    }
} 

